<template>
  <div>
    <div v-if="loading">
      <div class="text-center">
        <q-spinner color="grey" size="10em" />
        <div class="q-pt-md">
          <span class="text-h4">Загрузка ...</span>
        </div>
      </div>
    </div>
    <div v-else-if="error">
      <div class="text-body1">
        <div>Произошла неизвестная ошибка.</div>
        <div>Мы уже работаем над ее устранением.</div>
      </div>
    </div>
    <div v-else>
      <div class="q-pb-lg">
        <div class="inline-block text-h4">Пользователи</div>
        <q-btn outline label="Создать пользователя" class="float-right" @click="onClickCreateUser" />
      </div>
      <div v-if="userList && userList.length">
        <div class="q-pa-md row">
          <q-card class="q-ml-lg q-mr-lg q-mb-lg cursor-pointer" v-for="(user, index) of userList" :key="index" @click="onClickCard(user.id)">
            <q-card-section>
              <user-list-card :user="user" />
            </q-card-section>
          </q-card>
        </div>
      </div>
      <div v-else>
        <div class="text-body1">
          <div>Список пуст</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { UserType } from '@/type/UserType'
import { ref, onBeforeMount } from 'vue'
import { useStore } from 'vuex'
import UserListCard from '@/components/UserList/UserListCard.vue'
import router from '@/router'

export default {
  setup () {
    const loading = ref<boolean>(false)
    const error = ref<boolean>(false)
    const store = useStore()

    const userList = ref<UserType[]>([])

    // Первым делом необходимо загрузить информацию
    // о валютах
    onBeforeMount(() => {
      loading.value = true
      store.dispatch('getUserList').then((data: UserType[]) => {
        userList.value = data
        loading.value = false
      }).catch((err) => {
        console.warn(err)
        error.value = true
        loading.value = false
      })
    })

    const onClickCard = (id?: string | number | null) => {
      if (id === null || id === undefined) {
        return
      }

      router.push({ path: `/user/${id}` })
    }

    const onClickCreateUser = () => {
      router.push({ path: '/user/create' })
    }

    return {
      userList,
      loading,
      error,
      onClickCard,
      onClickCreateUser
    }
  },

  components: {
    UserListCard
  }
}
</script>

<style scoped></style>
