<template>
  <div v-if="user" class="user_list_card">
    <div class="text-weight-bold text-body1">
      {{ user.name }}
    </div>
    <div class="text-caption">
      {{  user.username }}
    </div>
    <div class="q-pt-sm text-body2">
      {{  user.email }}
    </div>
    <div class="text-body2">
      {{  user.phone }}
    </div>
  </div>
</template>

<script lang="ts">
import { UserType } from '@/type/UserType'
import { PropType } from 'vue'

export default {
  setup () {
    return {
    }
  },

  props: {
    user: { type: Object as PropType<UserType>, default: null }
  }
}
</script>

<style scoped>
.user_list_card {
  min-width: 200px;
  width: 100%;
}
</style>
