<template>
  <div v-if="user">
    <div class="q-pb-lg">
        <div class="inline-block text-h4">
            <span class="text-weight-bold">{{ user.name }}</span>
            <q-badge color="grey" align="top">{{ user.username }}</q-badge>
        </div>

        <q-btn outline label="Главная" @click="onClickMain" class="float-right" />
    </div>

    <div class="q-pa-md row">
        <q-card flat no-bordered class="q-pa-xs q-mb-md q-ml-md q-mr-md card">
          <q-card-section class="q-pb-xs">
            <div class="text-h6 text-weight-bold">Почта</div>
          </q-card-section>
          <q-card-section class="q-pb-xs">
            {{ user.email }}
          </q-card-section>
        </q-card>

        <q-card flat no-bordered class="q-pa-xs q-mb-md q-ml-md q-mr-md card">
          <q-card-section class="q-pb-xs">
            <div class="text-h6 text-weight-bold">Номер телефона</div>
          </q-card-section>
          <q-card-section class="q-pb-xs">
            {{ user.phone }}
          </q-card-section>
        </q-card>

        <q-card flat no-bordered class="q-pa-xs q-mb-md q-ml-md q-mr-md card">
          <q-card-section class="q-pb-xs">
            <div class="text-h6 text-weight-bold">Сайт</div>
          </q-card-section>
          <q-card-section class="q-pb-xs">
            {{ user.website }}
          </q-card-section>
        </q-card>

        <q-card flat no-bordered class="q-pa-xs q-mb-md q-ml-md q-mr-md card" v-if="user.company">
          <q-card-section class="q-pb-xs">
            <div class="text-h6 text-weight-bold">Компания</div>
          </q-card-section>
          <q-card-section class="q-pb-xs">
            {{ user.company.name }}
          </q-card-section>
        </q-card>

        <div class="col-12">
          <q-card flat no-bordered class="q-pa-xs q-ml-md card" v-if="user.address">
            <q-card-section class="q-pb-xs">
              <div class="text-h6 text-weight-bold">Адрес</div>
            </q-card-section>
            <q-card-section class="q-pb-xs">
              {{ user.address.suite }} {{ user.address.street }}, {{ user.address.zipcode }}
            </q-card-section>
          </q-card>
        </div>
    </div>
  </div>
</template>

<script lang="ts">
import { UserType } from '@/type/UserType'
import { PropType } from 'vue'
import router from '@/router'

export default {
  setup () {
    const onClickMain = () => {
      router.push({ path: '/' })
    }

    return {
      onClickMain
    }
  },

  props: {
    user: { type: Object as PropType<UserType>, default: null }
  }
}
</script>

<style scoped>
.card{
  min-width: 200px;
}
</style>
