<template>
  <div>
    <div v-if="loading">
      <div class="text-center">
        <q-spinner color="grey" size="10em" />
        <div class="q-pt-md">
          <span class="text-h4">Загрузка ...</span>
        </div>
      </div>
    </div>
    <div v-else-if="error">
      <div class="text-body1">
        <div>Произошла неизвестная ошибка.</div>
        <div>Мы уже работаем над ее устранением.</div>
      </div>
    </div>
    <div v-else>
     <div v-if="user">
        <user-card :user="user" />
      </div>
      <div v-else>
        <div class="text-body1">
          <div>Пользователь не найден</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { UserType } from '@/type/UserType'
import { ref, onBeforeMount } from 'vue'
import { useStore } from 'vuex'
import { useRoute } from 'vue-router'
import UserCard from '@/components/UserInformation/UserInformationCard.vue'

export default {
  setup () {
    const route = useRoute()
    const loading = ref<boolean>(false)
    const error = ref<boolean>(false)
    const store = useStore()

    const user = ref<UserType | null>(null)

    // Первым делом необходимо загрузить информацию
    // о валютах
    onBeforeMount(() => {
      loading.value = true
      store.dispatch('getUserById', {
        id: route?.params?.id
      }).then((data: UserType) => {
        user.value = data
        loading.value = false
      }).catch((err) => {
        console.warn(err)
        error.value = true
        loading.value = false
      })
    })

    return {
      user,
      loading,
      error
    }
  },

  components: {
    UserCard
  }
}
</script>

<style scoped></style>
