<template>
  <div>
    <user-create />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'
import UserCreate from '@/components/UserCreate/UserCreate.vue'

@Options({
  components: {
    UserCreate
  }
})
export default class UserCreateView extends Vue {}
</script>
