<template>
  <div>
    <user-list />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'
import UserList from '@/components/UserList/UserList.vue'

@Options({
  components: {
    UserList
  }
})
export default class UserListView extends Vue { }
</script>
