<template>
  <div>
    <user-information />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'
import UserInformation from '@/components/UserInformation/UserInformation.vue'

@Options({
  components: {
    UserInformation
  }
})
export default class UserView extends Vue { }
</script>
