<template>
  <div>
    <q-layout class="bg-grey-1">
      <q-page-container>
        <div class="q-pa-lg router-container">
          <router-view />
        </div>
      </q-page-container>
    </q-layout>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.router-container {
  max-width: 1200px;
  margin: 0 auto;
}
</style>
