<template>
  <div>
    <div class="q-pb-lg">
      <div class="inline-block text-h4">Создать пользователя</div>
      <q-btn outline label="Главная" class="float-right" @click="onClickMain" />
    </div>
    <div class="q-pa-lg">
      <q-form  @submit="onSubmit">
        <div class="row">
          <div class="col-12 col-md-4 q-pa-md">
            <q-input outlined v-model="name" label="Имя"  :rules="[ val => !!val || 'Необходимо заполнить']" />
          </div>
          <div class="col-12 col-md-4 q-pa-md">
            <q-input outlined v-model="userName" label="Ник" :rules="[ val => !!val || 'Необходимо заполнить']" />
          </div>
          <div class="col-12 col-md-4 q-pa-md">
            <q-input outlined v-model="email" label="Почта" :rules="[ val => !!val || 'Необходимо заполнить']" />
          </div>
          <div class="col-12 col-md-4 q-pa-md">
            <q-input outlined v-model="phone" label="Номер телефона" :rules="[ val => !!val || 'Необходимо заполнить']" />
          </div>
          <div class="col-12 col-md-4 q-pa-md">
            <q-input outlined v-model="website" label="Сайт" :rules="[ val => !!val || 'Необходимо заполнить']" />
          </div>
          <div class="col-12 col-md-4 q-pa-md">
            <q-input outlined v-model="company" label="Компания" :rules="[ val => !!val || 'Необходимо заполнить']" />
          </div>
          <div class="col-12 col-md-4 q-pa-md">
            <q-input outlined v-model="city" label="Город" :rules="[ val => !!val || 'Необходимо заполнить']" />
          </div>
          <div class="col-12 col-md-4 q-pa-md">
            <q-input outlined v-model="street" label="Улица" :rules="[ val => !!val || 'Необходимо заполнить']" />
          </div>
          <div class="col-12 col-md-4 col-lg-2 q-pa-md">
            <q-input outlined v-model="suite" label="Корпус" :rules="[ val => !!val || 'Необходимо заполнить']" />
          </div>
          <div class="col-12 col-md-4 col-lg-2 q-pa-md">
            <q-input outlined v-model="zipcode" label="Индекс" :rules="[ val => !!val || 'Необходимо заполнить']" />
          </div>
      </div>
      <div class="q-pt-md q-ml-md">
        <q-btn unelevated color="grey" label="Создать" type="submit" :loading="loading" />
      </div>
      </q-form>
    </div>
  </div>
</template>

<script lang="ts">
import router from '@/router'
import { ref } from 'vue'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'

export default {
  setup () {
    const onClickMain = () => {
      router.push({ path: '/' })
    }
    const store = useStore()
    const $q = useQuasar()

    const name = ref<string | null>(null)
    const userName = ref<string | null>(null)
    const email = ref<string | null>(null)
    const phone = ref<string | null>(null)
    const website = ref<string | null>(null)
    const company = ref<string | null>(null)
    const city = ref<string | null>(null)
    const street = ref<string | null>(null)
    const suite = ref<string | null>(null)
    const zipcode = ref<string | null>(null)

    const loading = ref<boolean>(false)

    const onSubmit = () => {
      loading.value = true

      store.dispatch('createUser', {
        name: name.value,
        userName: userName.value,
        email: email.value,
        phone: phone.value,
        website: website.value,
        company: company.value,
        city: city.value,
        street: street.value,
        suite: suite.value,
        zipcode: zipcode.value
      }).then(() => {
        loading.value = false
        $q.notify({
          message: 'Пользователь создан',
          color: 'positive',
          position: 'center',
          timeout: 3000,
          progress: true
        })

        onClickMain()
      }).catch((err) => {
        console.warn(err)
        loading.value = false
      })
    }

    return {
      onSubmit,
      onClickMain,
      name,
      userName,
      email,
      phone,
      website,
      company,
      city,
      street,
      suite,
      zipcode,
      loading
    }
  }
}
</script>

<style scoped>
</style>
